<div class="echo-form">
    <mat-form-field class="echo-full-width">
        <input matInput placeholder="Message" id="message-input">
    </mat-form-field>
     <mat-form-field class="echo-full-width">
        <input matInput placeholder="Greeting" readonly="true" value={{greetingMessage}}>
    </mat-form-field>
</div>